body {
  font-family: "Inter", sans-serif;
}

.to-top-btn {
  background-color: rgb(238, 226, 121);
  padding: 15px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.05), 0 5px 5px 0 rgba(0,0,0,0.05);
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 90px;
  z-index: 1;
  display: none;
}

.navbar {
  background-color: #090d0f;
  font-size: 1.2rem;
}

#feedback h2{
  text-align: center;
}

.jumbotron {
  padding: 30px;
  background: rgb(252, 252, 246);
  color: rgb(17, 10, 10);
  margin: 0;
  border-bottom: 2px ridge #fffde1;
  
}

.main-container {
  padding: 30px;
}

p {
  font-size: 1.5rem;
}

.main-content h2 {
  font-size: 2.2rem;
}

.main-content p {
  font-size: 1.3rem;
}

.skill h3 {
  font-size:1.5rem;
}

.skill p {
  font-size:1.2rem;
}

.backend {
  margin-top: 30px;
}

.skill {
  border-bottom: 1px ridge #f3e5e5;
  padding-bottom: 30px;
}

.skill-main {
  border-bottom: 1px ridge #f3e5e5;
  min-height: 200px;
}

.skill-main h3 {
  font-size:2.5rem;
}

.skill-main p {
  font-size: 1.3rem;
  padding-right: 14px;
}

.skill-main-content{
  min-height: 300px;
}

.main-three {
  min-height: 200px;
}

.main-three h3 {
  font-size:2.5rem;
}

.main-three p {
  font-size: 1.3rem;
  padding-right: 14px;
}

.about-button {
  border-bottom: 1px ridge #f3e5e5;
  padding: 25px;
}

h5 {
  font-size: 2.2rem;
  text-align: center;
}

.modal-header {
  background-color: #0096dc;
  color: white;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.card-text {
  font-size: 1.0rem;
}

.card {
  margin-bottom: 50px;
  
}

footer {
  background: #550404;
  color: white;
  padding: 15px;
}